/* ###############    VARIABLE DECLARATION    ############### */
:root
{
    --color_aqua:rgb(124, 206, 206);
    --color_dark:rgb(1, 0, 0);
    --font_family:sans-serif;

}
/* ###############    GENERAL STYLES    ############### */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #dadae1;
}
main {
  display: flex;
  flex-wrap: wrap;
}

p {
    font-size: 20px;
    font-family: var(--font_family);
    margin-right: 102px;
    line-height: 1.5;
    text-align:justify;
}
.h1-name {
    height: 55px;
    width: 460px;
    text-align: end;
    font-size: 48px;
    color: var(--color_dark);
    padding-right: 10px;
    margin-left: 0;
    background-color: var(--color_aqua);
    left: -300px;
    padding-left:5%;
    

}
 h3 {
        margin-bottom: 10px;
        text-align: center;
    }
    
ul {
        list-style-type: none;
    }
    
li {
        display: inline-block;
        margin-left: 5px;
    }
header {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 20px 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color:var(--color_dark);
        color: #ffffff;
    }
header  a {
        color:var(--color_aqua);
        padding: 8px;
        text-decoration:none;
        border-bottom-style: solid;
        border-color:var(--color_aqua);
        border-bottom-width: 4px;
        font-size: 22px;
        font-family: 'Brandon Grotesque',sans-serif;
        font-weight: 100px;
    }
    
 header a:hover,header a:focus {
        color:whitesmoke;
        background-color: transparent;
        text-decoration: none;
        border-color:whitesmoke;
      }
      
 header a:active {
        color:#b8c2d8;
        background-color: transparent;
        text-decoration: underline;
      }
      .sec-profile
      { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      nav {
          display: flex;
          padding-top: 15px;
          margin-right: 20px;
          float: right;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 20px;
      }
      footer {
        padding: 30px;
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }
    .image-pro{
        position: relative;
        height: 200px;
        width: 200px;
        background-size: cover;
          background-position: center;
          margin-top:20px;  
          margin-left:4px;
      
      }
      .add-margin-top
      {
        margin-top: 10px;
      }
      .title-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 23.5%;
        width: 23.5%;
        font-family: sans-serif;
        font-weight: 100px;
        margin:0px 0px 0px 0px;
        margin-left: 20px;
    }
    .portfolio-sec-title{

        font-size: 50px;
        font-weight:650px;
        color: #06344d;
        position: relative; 
        text-align:end;
        display: block;
        right :35px;
        font-family: var(--font_family);
      } 
      .content-section{
        position: relative; 
        left:332px;
        top: -100px;
        width: 76.5%;
        padding-left: 32px;
        padding-bottom: 20px; 
        border-left-style: solid;
        border-color:var(--color_dark);
        border-left-width: 4px;
        }
        row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            
          }
          
  .div-work
        {
           padding: 20px 0px 0px 0px;
        }
    .justify-start {
    justify-content:flex-start ;
  
  }
  .main-work {
    position: relative; 
    display: flex;
    flex:2 0 100%;
    transition: flex-basis 500ms linear;
    display: flex;
    flex-direction: row;
    height: 537px;
    /* outline is like border, but on the outside of the box instead of inside */
    outline: 5px solid var(--color_aqua);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }
  .main-work-header {
   
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: absolute;
   
    margin-top :-85px;
    width: auto;
    left: 0px;
    padding: 10px 5px 5px 10px;
    background-color: var(--color_aqua);
    color: var(--color_dark);
    transition: all 0.5s ease-in-out;
  }
  /* make each code card a flexbox column to align and justify content within it */
  .other-works {
    flex: 1 0 100% ;
    position:relative;
    padding-top: 0;margin-right: 20px;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 460px;
    /* outline is like border, but on the outside of the box instead of inside */
    outline: 5px solid var(--color_aqua);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }
  
  .other-works-header {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: absolute;
   
    margin-top :-85px;
    width: fit-content;
    left: 0px;
    padding: 10px 5px 5px 10px;
    background-color: var(--color_aqua);
    color: var(--color_dark);
    transition: all 0.5s ease-in-out;
  }
    